@import "tailwindcss";

:root {
  --color-brand-green-dark: #11633b;
  --color-brand-green: #25a55a;
  --color-brand-gold: #ffb703;
  --color-brand-cream: #fff7e8;
  --color-brand-ink: #1a1a1a;

  --background: var(--color-brand-cream);
  --foreground: var(--color-brand-ink);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-green-dark: var(--color-brand-green-dark);
  --color-brand-green: var(--color-brand-green);
  --color-brand-gold: var(--color-brand-gold);
  --color-brand-cream: var(--color-brand-cream);
  --color-brand-ink: var(--color-brand-ink);

  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
}
